body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 148);
}

header {
    text-align: center;
    background-color: rgb(0, 0, 105);
    color: white;
}

.c1 {
    display: flex;
    justify-content: space-between;
}

.c1 a {
    margin: 20px;
    padding: 10px;
    background-color: aqua;
    border-radius: 40%;
    text-decoration: none;
}

.div h1 {
    font-size: 20px;
    width: 500px;
}

.div1 {
    display: flex;
    justify-content: flex-start;
    background-color: gray;
    margin-top: 25px;
}

.div2 {
    text-align: center;
    background-color: blue;
    color: white;
}

.c2 {
   text-align: center;
   color: aqua;
}


footer {
    background-color: aqua;
    text-align: center;
    color: white;
}
